Django==1.8.6
Markdown==2.6.4
Pygments==2.0.2
Werkzeug==0.11.1
amqp==1.4.7
anyjson==0.3.3
appnope==0.1.0
billiard==3.3.0.21
celery==3.1.19
decorator==4.0.4
django-celery==3.1.17
django-extensions==1.5.9
django-filter==0.11.0
djangorestframework==3.3.1
fancycompleter==0.4
gnureadline==6.3.3
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
kombu==3.0.29
ordereddict==1.1
path.py==8.1.2
pdbpp==0.8.3
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pylibmc==1.5.0
pyrepl==0.8.4
pytz==2015.7
redis==2.10.5
requests==2.8.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.0.0
wmctrl==0.2
wsgiref==0.1.2
